* {
     box-sizing: border-box;
     /* 內容 大於表格時隱藏 */
     overflow: hidden;
}

heater {
     width: 1024px;
     height: 65px;
     margin: auto;
     background-color: lightblue;

     border: 1px solid black;
     border-bottom: 0px;
}

container {
     width: 1024px;
     height: calc(768px - 65px - 20px);
     background-color: rgb(210, 138, 199);
     margin: auto;
     display: flex;
}


container-left {
     width: 215px;
     display: flex;
     flex-direction: column;
}




container-right {
     width: calc(100% - 215px);

}

left-top {}
menu-title{}
menu-container {}

 {}

M LBU {}


RT {}

RB {}







F {}