/* header */
.header {
     width: 1024px;
     height: 65px;
     background-color: lightblue;
     margin: auto;
}


/* container */
.container {
     width: 1024px;
     height: calc(768px - 65px - 20px);
     background-color: rgb(231, 167, 137);
     margin: auto;

     display: flex;
     /* justify-content: center; */
     /* align-iteam: center; */
}

.container-left {
     width: 215px;
     background-color: rgb(61, 61, 236);

     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     /* align-iteam: center; */
}

.container-right {
     width: calc(100% - 215px);
     background-color: rgb(230, 105, 105);
}


.left-top {
     width: 100%;
     height: calc(100% - 25px);
     background-color: lightgray;
}

.left-bottom { 
     width: 100%;
     height: 25px;
     background-color: aqua;
}

.right-top {
     width: 100%;
     height: 29px;
     background-color: lightpink;
 
}

.right-bottom {
     width: 100%;
     height: calc(100% - 29px);
     background-color: lightgreen;
}

/* footer */
.footer {
     width: 1024px;
     height: 20px;
     background-color: rgb(230, 173, 220);
     margin: auto;
}