* {
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    width: 1024px;
    height: 65px;
    margin: auto;
    border: 1px solid black;
    border-bottom: 0px;
}

.container {
    width: 1024px;
    height: calc(768px - 65px -20px);
    margin: auto;
    display: flex;


}

.container-left {
    width: 215px;
    display: flex;
    flex-direction: column;
}

.left-top {
    width: 100%;
    height: calc(100% - 25px);
    border: 1px solid black;
    border-right: 0px;
}

.menu-title {
    width: 50%;
    margin: auto;
    font-family: "標楷體";
    font-size: 24PX;
    border-bottom: 1PX solid black;
    text-align: center;
    color: #FF00FF;
}

.menu-container {
    
}

.menu {
    font-weight: 500;
    font-family: "標楷體";
    color: #000000;
    font-size: 16px;
}

.menu:hover {}

.left-bottom {
    width: 100%;
    height: 25px;
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
}

.update {
    font-family: "標楷體";
    color: #000000;
    font-size: 16px;
    text-align: center;
}

.container-right {
    width: calc(100% - 215px);
}

.right-top {
    width: 100%;
    height: 29px;
    border: 1px solid black;
}

marquee {
    font-family: "標楷體";
    font-size: 24px;
    color: #0000FF;
}

.right-bottom {
    width: 100%;
    height: calc(100% - 29px);
    border: 1px solid black;
    border-top: 0px;

}


.footer {
    width: 1024px;
    height: 20px;
    margin: auto;
    border: 1px solid black;
    border-top: 0px;

    font-family: "標楷體";
    color: #000000;
    font-size: 16px;
    text-align: center;
    
}

iframe {
    width: 100%;
    height: 100%;
}
